<!-- ====== Footer Start ====== -->
<footer class="ud-footer wow fadeInUp pt-5" data-wow-delay=".15s">
   
    <div class="ud-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="ud-footer-bottom-left">
                        <li>
                            <a href="https://www.privacypolicygenerator.info/live.php?token=oMRFWSatCvLhaKHNpUcF9IEVhKc3FSu6">Privacy policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ====== Footer End ====== -->

<!-- ====== Back To Top Start ====== -->
<a href="javascript:void(0)" class="back-to-top">
    <i class="lni lni-chevron-up"></i>
</a>
<!-- ====== Back To Top End ====== -->

<!-- ====== All Javascript Files ====== -->
<script src="{{'assets/js/bootstrap.bundle.min.js' | relative_url}}"></script>
<script src="{{'assets/js/wow.min.js' | relative_url}}"></script>
<script src="{{'assets/js/main.js' | relative_url}}"></script>
<script>
    // section menu active
    function onScroll(event) {
        const sections = document.querySelectorAll('.ud-menu-scroll')
        const scrollPos =
            window.pageYOffset ||
            document.documentElement.scrollTop ||
            document.body.scrollTop

        const navbarBrand = document.querySelector('.navbar-brand');

        try {
            for (let i = 0; i < sections.length; i++) {
                const currLink = sections[i]
                const value = currLink.getAttribute('href')
                const refElement = document.querySelector(value)
                const scrollTopMinus = scrollPos + 73
                if (
                    refElement.offsetTop <= scrollTopMinus &&
                    refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
                ) {
                    document.querySelector('.ud-menu-scroll').classList.remove('active')
                    currLink.classList.add('active')
                    navbarBrand.classList.remove('text-dark')
                    navbarBrand.classList.add('text-white')
                } else {
                    navbarBrand.classList.remove('text-white')
                    navbarBrand.classList.add('text-dark')
                    currLink.classList.remove('active')
                }
            }
        }
        catch (_) { }
    }

    window.document.addEventListener('scroll', onScroll)
</script>